/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.modal_video__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .modal_video__wrapper .modal_video__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #050505;
    opacity: 0;
    transition: 0.5s; }
  .modal_video__wrapper .modal_video__btn_close {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: none;
    border: none;
    transition: background 0.3s;
    z-index: 3; }
    .modal_video__wrapper .modal_video__btn_close, .modal_video__wrapper .modal_video__btn_close:active, .modal_video__wrapper .modal_video__btn_close:focus {
      outline: none; }
    .modal_video__wrapper .modal_video__btn_close::before, .modal_video__wrapper .modal_video__btn_close::after {
      content: '';
      width: 30px;
      height: 5px;
      background: #f8f8f8;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: background 0.3s; }
    .modal_video__wrapper .modal_video__btn_close::before {
      transform: translate(-50%, -50%) rotate(40deg); }
    .modal_video__wrapper .modal_video__btn_close::after {
      transform: translate(-50%, -50%) rotate(-40deg); }
  .modal_video__wrapper .modal_video__btn_close:hover {
    background: #f8f8f8;
    transition: 0.3s; }
    .modal_video__wrapper .modal_video__btn_close:hover::before, .modal_video__wrapper .modal_video__btn_close:hover::after {
      background: #050505;
      transition: 0.3s; }
  .modal_video__wrapper .modal_video {
    width: 80%;
    height: auto;
    max-height: 100%;
    z-index: 3;
    transition: 0.5s;
    transform: scale(0.7) translate(0, 50%);
    opacity: 0; }
    .modal_video__wrapper .modal_video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s; }
  .active .modal_video__overlay {
    opacity: 0.8;
    transition: 0.5s; }
  .active .modal_video {
    transition: 0.5s;
    transform: scale(1) translate(0, 0);
    opacity: 1;
    transition-delay: 0.5s; }

.slider_list__wrapper {
  display: flex;
  margin-top: 30px;
  z-index: 3; }
  .slider_list__wrapper .slider_list__button {
    width: 12px;
    height: 12px;
    background-color: #979797;
    border-radius: 100%;
    padding: 0;
    border: none;
    margin: 0 10px; }
    .slider_list__wrapper .slider_list__button, .slider_list__wrapper .slider_list__button:active, .slider_list__wrapper .slider_list__button:focus {
      outline: none; }
    .slider_list__wrapper .slider_list__button:hover {
      background-color: #f1f1f1;
      transform: scale(1.3); }
  .slider_list__wrapper .slider_list__button_active {
    background-color: #f1f1f1;
    transform: scale(1.3); }

svg {
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: black; }

@font-face {
  font-family: 'Impact';
  src: url("../fonts/impact.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/impact.eot?#iefix") format("embedded-opentype"), url("../fonts/impact.woff2") format("woff2"), url("../fonts/impact.woff") format("woff"), url("../fonts/impact.ttf") format("truetype"), url("../fonts/impact.svg#impact") format("svg");
  /* Chrome < 4, Legacy iOS */ }

:root {
  --text-color: rgb(238, 159, 9);
  --text-shadow: rgb(165, 0, 4); }

body {
  font-family: 'Impact', sans-serif;
  font-style: italic; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  background: url("../img/bg_with_noise.png");
  z-index: 1000; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header__logo {
    display: flex;
    flex-direction: column;
    text-decoration: none; }
    header .header__logo img {
      max-width: 160px; }
  header ul {
    display: flex;
    justify-content: space-around; }
    header ul li {
      padding: 0 20px; }
    header ul .header__link {
      font-size: 19px;
      color: var(--text-color);
      text-shadow: 2px 2px var(--text-shadow);
      text-transform: uppercase;
      text-decoration: none;
      opacity: 0.6;
      transition: opacity 0.4s;
      position: relative; }
      header ul .header__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--text-color);
        box-shadow: 2px 2px var(--text-shadow);
        transform: translate(0, 10px);
        opacity: 0;
        transition: 0.4s;
        pointer-events: none; }
      header ul .header__link:hover {
        transition: opacity 0.4s;
        opacity: 1; }
        header ul .header__link:hover::after {
          transform: translate(0, 0);
          opacity: 1;
          transition: 0.4s; }
    header ul .link_selected {
      font-size: 19px;
      color: var(--text-color);
      text-shadow: 2px 2px var(--text-shadow);
      text-transform: uppercase;
      text-decoration: none;
      transition: opacity 0.4s;
      position: relative;
      opacity: 1; }

main {
  margin-top: 112px;
  display: flex;
  flex-wrap: wrap;
  background: url("../img/bg_with_noise.png"); }
  main .video_card__wrapper {
    width: 50%;
    overflow: hidden; }
  main .video__card {
    cursor: pointer;
    position: relative;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.6s; }
    main .video__card::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #050505;
      opacity: 0;
      z-index: 2;
      pointer-events: none;
      transition: opacity 0.6s ease; }
    main .video__card .video__logo {
      max-width: 240px;
      max-height: 190px;
      transform: translate(0, 50px);
      opacity: 0;
      transition: 0.6s ease;
      z-index: 3;
      pointer-events: none; }
    main .video__card:hover {
      transform: scale(1.1);
      transition: 0.6s; }
      main .video__card:hover::after {
        opacity: 0.5;
        transition: 0.6s ease; }
      main .video__card:hover .video__logo {
        transition: 0.6s ease;
        opacity: 1;
        transform: translate(0, 0); }

.about__content {
  padding-bottom: 80px;
  overflow: hidden; }
  .about__content .content__wrapper {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about__content .about__title,
  .about__content .card__title,
  .about__content .card__text,
  .about__content .card__link {
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow); }
  .about__content .about_active {
    transform: translate(0, 0) !important;
    opacity: 1 !important; }
  .about__content .about__title {
    display: block;
    text-transform: uppercase;
    font-size: 45px;
    max-width: 320px;
    padding: 10px;
    border: var(--text-color) 2px solid;
    margin-top: 30px;
    margin-left: 80px;
    transform: translate(-110%, 10px);
    opacity: 0; }
    .about__content .about__title.about_active {
      transition: 1s ease; }
  .about__content .about_card__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    text-align: right;
    opacity: 0;
    padding: 0 80px; }
    .about__content .about_card__wrapper:first-of-type {
      margin-top: 110px;
      transform: translate(-100%, 0); }
      .about__content .about_card__wrapper:first-of-type.about_active {
        transition: 0.5s ease; }
    .about__content .about_card__wrapper:nth-child(even) {
      transform: translate(100%, 0); }
      .about__content .about_card__wrapper:nth-child(even).about_active {
        transition: 0.5s 0.5s ease; }
    .about__content .about_card__wrapper:last-of-type {
      order: 4;
      padding-right: 210px;
      transform: translate(100%, 0); }
      .about__content .about_card__wrapper:last-of-type.about_active {
        transition: 0.5s ease; }
    .about__content .about_card__wrapper .card__title {
      font-size: 38px; }
    .about__content .about_card__wrapper .card__text {
      font-size: 25px;
      margin-top: 8px; }
    .about__content .about_card__wrapper .card__link {
      text-decoration: none;
      display: flex;
      align-self: flex-start;
      align-items: center;
      font-size: 18px;
      text-shadow: 1px 1px var(--text-shadow);
      margin: 8px 0 0 12px;
      transition: 0.3s ease; }
      .about__content .about_card__wrapper .card__link span {
        margin-left: 5px; }
      .about__content .about_card__wrapper .card__link:hover {
        transform: scale(1.25);
        transition: 0.3s ease; }
    .about__content .about_card__wrapper .card__img {
      width: 100%;
      margin-top: 10px; }
  .about__content .main__text {
    display: block;
    color: var(--text-color);
    border: var(--text-color) 2px solid;
    text-shadow: 2px 2px var(--text-shadow);
    max-width: 180px;
    padding: 10px;
    align-self: flex-end;
    order: 3;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 80px;
    transform: translate(0, -500%);
    opacity: 0; }
    .about__content .main__text.about_active {
      transition: 0.5s 0.5s ease; }

footer {
  background: url("../img/bg_with_noise.png");
  padding: 30px 0;
  display: flex;
  justify-content: center; }
  footer .footer__link {
    text-decoration: none;
    font-size: 30px;
    color: var(--text-color);
    text-shadow: 2px 2px var(--text-shadow);
    padding: 0 20px;
    transition: 0.3s ease; }
    footer .footer__link:hover {
      transform: scale(1.5) rotate(-3deg);
      transition: 0.3s ease; }

@media (min-width: 1500px) {
  main .video__card {
    min-height: 40vh; } }

@media (max-width: 1249px) {
  .container {
    max-width: 90%; }
  .about__content .about__title {
    margin-left: 25px; }
  .about__content .content__wrapper .about_card__wrapper {
    padding: 0 25px; } }

@media (max-width: 900px) {
  main .video_card__wrapper {
    width: 100%; }
    main .video_card__wrapper .video__card::after {
      opacity: 0.5; }
    main .video_card__wrapper .video__logo {
      transform: translate(0, 0);
      opacity: 1; }
  .about__content .about_card__wrapper {
    max-width: 275px; } }

@media (max-width: 725px) {
  .about__content .about__title {
    margin: auto; }
  .about__content .content__wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; }
    .about__content .content__wrapper .about_card__wrapper {
      max-width: 350px;
      text-align: center;
      padding-bottom: 60px; }
      .about__content .content__wrapper .about_card__wrapper:first-of-type {
        order: 2;
        margin-top: 0; }
        .about__content .content__wrapper .about_card__wrapper:first-of-type.about_active {
          transition: 0.5s ease; }
      .about__content .content__wrapper .about_card__wrapper:last-of-type {
        order: 3; }
    .about__content .content__wrapper .main__text {
      margin-left: 0;
      align-self: center; } }

@media (max-width: 500px) {
  header {
    position: static; }
    header .container {
      flex-direction: column; }
      header .container ul {
        margin-top: 35px; }
        header .container ul li:first-of-type {
          padding-left: 0; }
  main {
    margin-top: 0; }
  footer .footer__link {
    font-size: 21px; }
  .about__content .about__title {
    font-size: 38px;
    max-width: 270px; }
  .about__content .about_card__wrapper .card__title {
    font-size: 30px; }
  .about__content .about_card__wrapper .card__text {
    font-size: 21px; } }
