.modal_video__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .modal_video__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgb(5, 5, 5);
        opacity: 0;
        transition: 0.5s;
    }

    .modal_video__btn_close {
        position: absolute;
        right: 5%;
        top: 5%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: none;
        border: none;
        transition: background 0.3s;
        z-index: 3;

        &,
        &:active,
        &:focus {
            outline: none;
        }

        &::before,
        &::after {
            content: '';
            width: 30px;
            height: 5px;
            background: rgb(248, 248, 248);
            position: absolute;
            top: 50%;
            left: 50%;
            transition: background 0.3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(40deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-40deg);
        }
    }

    .modal_video__btn_close:hover {
        background: rgb(248, 248, 248);
        transition: 0.3s;

        &::before,
        &::after {
            background: rgb(5, 5, 5);
            transition: 0.3s;
        }
    }

    .modal_video {
        width: 80%;
        height: auto;
        max-height: 100%;
        z-index: 3;
        transition: 0.5s;
        transform: scale(0.7) translate(0, 50%);
        opacity: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;

    .modal_video__overlay {
        opacity: 0.8;
        transition: 0.5s;
    }

    .modal_video {
        transition: 0.5s;
        transform: scale(1) translate(0, 0);
        opacity: 1;
        transition-delay: 0.5s;
    }
}

.slider_list__wrapper {
    display: flex;
    margin-top: 30px;
    z-index: 3;

    .slider_list__button {
        width: 12px;
        height: 12px;
        background-color: #979797;
        border-radius: 100%;
        padding: 0;
        border: none;
        margin: 0 10px;

        &,
        &:active,
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #f1f1f1;
            transform: scale(1.3);
        }
    }

    .slider_list__button_active {
        background-color: #f1f1f1;
        transform: scale(1.3);
    }

}

svg {
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: black;
}